In [20]:
import os
from dotenv import load_dotenv
import pandas as pd
import basedosdados as bd

load_dotenv()
billing_id = os.getenv("BILLING_ID")

O número de licitações públicas segue um padrão mensal ou varia significativamente ao longo do tempo ?

In [18]:
query = """
  SELECT
  FORMAT_DATE('%Y-%m', data_abertura) AS ano_mes,
  COUNT(DISTINCT id_licitacao) AS total_licitacoes
FROM basedosdados.br_cgu_licitacao_contrato.licitacao
WHERE data_abertura IS NOT NULL
GROUP BY ano_mes
ORDER BY ano_mes DESC;
"""

bd.read_sql(query = query, billing_project_id = billing_id)

Downloading: 100%|██████████|

     ano_mes  total_licitacoes
0    2023-10               283
1    2023-09               385
2    2023-08               408
3    2023-07               359
4    2023-06               333
..       ...               ...
138  2012-03                 1
139  2011-12                 2
140  2011-11                 1
141  2011-09                 1
142  2011-05                 1

[143 rows x 2 columns]

Quais órgãos públicos mais licitam e movimentam recursos em contratações?"

Qual é o nível médio de concorrência nas licitações?

Quais modalidades de licitação concentram os itens mais caros?"

Quais participantes têm mais vitórias em licitações dentro de cada órgão?

Em quais UFs os órgãos públicos mais realizam licitações?